.overflow {
  height: 70vw;
  clear: both;
  overflow: auto;
  margin-bottom: 10vw;
}


.gallery-item-container {
  text-align: center;

  input {
    width: 82.75%;
  }

  h2 {
    text-align: left;
  }
}
