body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary;
}

h2 {
  clear: both;
  margin-left: $gutter-std + 2%;
  margin-bottom: $gutter-sm + 1%;
  font-size: 3vw;
  font-weight: bold;
}

button, input[type="submit"] {
  min-height: 7vw;
  float: right;
  width: $box-std - 10%;
  background: $brand-secondary;
  color: $white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $black;
    color: $white;
  }
}

a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
}
