<section class="upload-pic">
  <h3>Upload a new image.</h3>
  <form class="upload-form" ng-submit="uploadPicCtrl.uploadPic()" novalidate>
    <fieldset>
      <input
      class="input-std"
      type="text"
      ng-model="uploadPicCtrl.pic.name"
      placeholder="image name">
      <input
      class="input-std"
      type="text"
      ng-model="uploadPicCtrl.pic.desc"
      placeholder="image description">
    </fieldset>

    <div>
      <p
      class="grab-img"
      ngf-select
      ng-model="uploadPicCtrl.pic.file" multiple>
      select a pic to upload
      </p>

      <button class="btn-std">upload</button>
    </div>
  </form>
</section>
