.edit {
  margin: $gutter-sm 0;

  .edit-boxes {
    @extend .current-item;

    .name-input {
      @extend .input-std;
      width: $box-lg + 2.5%;
      background: $brand-primary;
      border: 0.05vw solid $brand-secondary;
      min-height: 3vw;
      margin-bottom: 0;
    }

    .desc-input {
      @extend .name-input;
      width: $box-lg - 8%;
    }
  }

  button {
    width: $box-sm - 0.95%;
    min-height: 7.25vw;
    margin-right: $gutter-std + 2.1%;
  }
}
