.navbar {

}

h1 {
  font-size: 5vw;
}

.signout-btn {
  width: $box-sm;
  background: $brand-primary;
  color: $brand-secondary;
  border-radius: 20px;
  min-height: 5vw;
  font-size: 2.5vw;
}

.header-img {
  width: 8%;
  float: left;
}
